- if (!everyauth.loggedIn)
  a(href="/auth/twitter") log in with twitter
- else
  h1= title
    ul#products
      - each product in list.productsFor(everyauth.twitter.user.id) 
        li(class: 'product') #{product.name}
  h3
    a(href='/logout') Logout
