!!! 5
html
  head
    title= i18n.title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js')
    script(type='text/javascript', src='/javascripts/app.js')
  body!= body
