h1= title
  form(id='add-product-form', action='/')
    p
      label(for='product[name]') New item:
        input(type='text', class='enterSubmit', name='product[name]')
      input(id='add-product', type='button', value='Add')
  #products
    - if (list.products) 
      != partial('product', list.products)
    - else
      p Add your first product
h3
  a(href='/logout') Logout
